html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Arial';
}

.header {
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

.view.hide {
    display: none;
}

.input {
    position: relative;
    width: 100%;

}

.input__wrapper {
    position: relative;
    padding: 0.5rem 0;
}


.input__elememt {
    width: 100%;
    height: 2.5rem;
    font-size: 14px;
    text-overflow: ellipsis;
    border-width: 2px;
    border-color: #e1e5e8;
    border-radius: 2px;
    background-color: transparent;
    line-height: normal;
    box-sizing: border-box;
    border-style: solid;
    padding: 0 1rem;
}


.login-area {
    position: relative;
    z-index: 1;

    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;

    border-radius: 2px;
    box-shadow: 0 0 2px 0 rgba(47, 52, 61, 0.08), 0 0 12px 0 rgba(47, 52, 61, 0.12);
}

.button-group {
    flex-direction: column;
    display: flex;
}

.button {
    border: 0px;
    padding: 10px;
    border-radius: 2px;
    font-size: 14px;
}

.button__primary {
    background-color: #d4145a;
    color: #fff;
}

.button__secondary {
    background-color: white;
    color: black;
}

ul {
    padding: 0px;
    list-style: none;
    display: inline;
}

.title {
    font-size: 14px;
    font-style: inherit;
}


.rooms-container {
    height: 30vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #d2d2d2;
    overflow-y: auto;
    font-size: 14px;
    border-radius: 2px;
}

#room-picker .ui-selecting {
    background: rgba(99, 185, 175, 1);
}

#room-picker .ui-selected {
    background: rgba(0, 169, 157, 1);
    color: white;
}

#room-picker {
    width: 100%;
    border: none;
    outline: none;
    margin: 0%;
    padding: 0%;
}

#room-picker li {
    padding-top: 10px;
    list-style: none;
    display: list-item;
    border-width: 1px;
    border-color: #e1e5e8;
    background-color: transparent;
    border-style: solid;
    padding-left: 10px;
    font-size: 14px;
    height: 30px;
    cursor: default;
}

#room-picker li:hover {
    background-color: rgba(99, 185, 175, 1) !important;
}